@model PagedList.IPagedList<G3_PetOnlineShop.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<<link href="~/Content/Site.css" type="text/css" />
<div class="listitem">
    @{ string id = "";}

    @foreach(var item in Model)
    {
           id = ViewBag.id;
           <div class="myitem">
                <a href="~/Home/Details?id=@item.ProductID">
                     @Html.DisplayFor(modelItem => item.ProductName)
                 <br />
                 </a>
                <a href="~/Home/Details?id=@item.ProductID">
                     <img src="~/Content/images/@Html.DisplayFor(modelItem => item.Images)" width="200px" height="200px" />
                </a>
                <div style="color:red">
                  @{ var price = string.Format("{0:0,0 VĐN}", item.Price);}
                  @price
                </div>
                <br />
                <div>
                    <a href="~/Cart/AddItem?id=@item.ProductID">
                         <img src="~/Content/images/giohang.png" width="100px" />
                    </a>

                </div>
           </div>
     }
     @Html.PagedListPager(Model, page => Url.Action("Index", new { page ,id =id}))
</div>


